.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.container {
    width: 100%;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    padding-top: 1rem;
    align-items: center;
}

.header {
    font-family: Poppins;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0px 0px 30px rgb(155, 155, 155);
    padding-top: 2rem;
}

.iconE {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    width: 3rem;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    box-shadow: white 0px 0px 20px 3px;
    background-color: red;
    border-radius: 5px;
    
}

.iconL {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 3rem;
    cursor: pointer;
    color: rgb(0,119,181);
    box-shadow: white 0px 0px 20px 3px;
    background-color: white;
}

.iconG {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 3rem;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: white 0px 0px 20px 3px;
    border-radius: 90px;
}

.iconE:hover {
    transform: scale(1.05);
}
.iconL:hover {
    transform: scale(1.05);
}
.iconG:hover {
    transform: scale(1.05);
}